{% extends "base.html" %}
{% block title %}Inicio{% endblock %}

{% block content %}
<h1>Inicio</h1>

<div class="table_container-Rutas">
    <h3>Rutas</h3>
    {% if rutas and rutas|length > 0 %}
    <table border="1" style="width:100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Distancia (km)</th>
                <th>Valor Pasaje</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for ruta in rutas %}
            <tr>
                <td>{{ ruta.idRuta }}</td>
                <td>{{ ruta.nombreRuta }}</td>
                <td>{{ ruta.origen }}</td>
                <td>{{ ruta.destino }}</td>
                <td>{{ ruta.distancia }} km</td>
                <td>${{ ruta.precio_pasaje }}</td>
                <td>
                    <a href="{{ url_for('rutas.ver_detalle', id=ruta.idRuta) }}" class="btn btn-info">Detalles</a>

                    <a href="{{ url_for('rutas.editar_ruta', id=ruta.idRuta) }}" class="btn btn-warning">Editar</a>

                    <a href="{{ url_for('rutas.eliminar_ruta', id=ruta.idRuta) }}" class="btn btn-danger"
                        onclick="return confirm('¿Estás seguro?')">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No hay rutas registradas.</p>
    {% endif %}
</div>
<div class="table_container-viajes">
    <h3>Viajes Realizados</h3>

    {% endblock %}