<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="login__page">
    <div class="login-container">
        <h1 class="login__title">Login</h1>
        <div class="login__form">
            <div class="login__username">
                <label for="username" class="login__usernameLabel">Usuario</label>
                <input type="text" id="username" class="login__usernameInput" placeholder="Nombre de usuario" name="username" required>
            </div>
            <br>
            <div class="login__password">
                <label for="password" class="login__passwordLabel">Contraseña</label>
                <input type="password" id="password" class="login__passwordInput" placeholder="Contraseña" name="password" required>
            </div>
            <br>
            <div class="submit">
                <button type="submit" class="submit">Login</button>
            </div>
        </div>
    </div>
</body>
<footer class="login__footer">
    <p style="text-align: center;">&copy; Transport Project - Martin Burga</p>
</footer>
</html>